<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head"></head>
<body>
    <nav th:replace="partials/navbar :: navbar"></nav>
    <div class="container">
        <h1 class="text-center"><strong>Edit a Post</strong></h1>
        <form action="#" th:action="@{/posts/update/{id}(id=${post.id})}" th:object="${post}" method="post">
            <div class="form-group">
                <label for="title">Title</label>
                <input id="title" name="title" class="form-control" type="text" th:field="*{title}">
            </div>
            <div class="form-group">
                <label for="body">Body</label>
                <textarea id="body" name="body" class="form-control" type="text" th:field="*{body}"></textarea>
            </div>
            <input type="submit" class="btn btn-block btn-primary">
        </form>
    </div>

    <footer th:replace="partials/footer :: footer"></footer>
    <div th:replace="partials/scripts :: assets"></div>
</body>
</html>