<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head"></head>
<body>
    <nav th:replace="partials/navbar :: navbar"></nav>
    <div class="individual-post-main-container container mt-5 pb-5">
        <div class="individual-post-container container text-center">
            <h2 th:text="${post.title}" class="title"></h2>
            <p th:text="${post.body}"></p>
            <p><strong>Written By: </strong><span th:text="${post.user.username}"></span></p>

            <div class="container">
                <a th:href="@{|/posts/edit/${post.id}|}"
                   class="btn btn-outline-secondary">
                    Edit
                </a>

                <a th:href="@{|/posts/delete/${post.id}|}"
                   class="btn btn-outline-danger">
                    Delete
                </a>
            </div>
        </div>
    </div>

    <div th:replace="partials/scripts :: assets"></div>
</body>
</html>