<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head"></head>
<body>
    <div class="container text-center pb-5">
        <div class="container">
            <h1 class="pt-5">Unexpected Error :(</h1>
        </div>

        <div class="error-500-container container"></div>

        <a class="btn btn-lg return-home-btn" th:href="@{|/|}" role="button">Try Again</a><br><br>
    </div>

    <div th:replace="partials/scripts :: assets"></div>
</body>
</html>