<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="login-body">
<head th:replace="partials/head :: head"></head>
<body class="login-body">
    <nav th:replace="partials/navbar :: navbar"></nav>

    <div class="login-main-container">
        <div class="login-container container text-center">
            <h1 class="text-center">Log In</h1>

            <form class="container" th:action="@{/login}" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" type="text" id="username" name="username" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" id="password" name="password" />
                </div>
                <input id="login-btn" class="btn btn-block btn-info" type="submit" value="Log In" />
            </form>

            <hr>

            <div class="container">
                <form th:action="@{/sign-up}" method="get">
                    <input id="signup-btn" class="btn btn-block btn-secondary" type="submit" value="Sign Up" />
                </form>
            </div>
        </div>
    </div>

    <div th:replace="partials/scripts :: assets"></div>
</body>
</html>